<settings>
    <setting propertyKey="@Properties.baseUrl" title="@Strings.SettingBaseUrl">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.decTopic" title="@Strings.SettingDecTopic">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.repTopic" title="@Strings.SettingRepTopic">
        <settingConfig type="alphaNumeric" />
    </setting>
    <setting propertyKey="@Properties.token" title="@Strings.SettingToken">
        <settingConfig type="alphaNumeric" />
    </setting>
</settings>
